<footer class="px-4 sm:px-6 lg:px-10">
  <div class="flex flex-col items-center pb-8 pt-12 lg:pt-24">
    <div class="mt-6 flex flex-col items-center">
      {% include 'lime' %}

      <p class="mt-1 text-slate-500">
        <small>A fresh squeezed website by Brandon Bang</small>
      </p>
    </div>
  </div>
</footer>
