<footer class="px-4 sm:px-6 lg:px-10">
  <div class="flex flex-col items-center pb-8 pt-16 text-center leading-tight text-slate-500 lg:pt-24">
    {% include 'lime' %}

    <p class="mt-2">
      <small>&copy; 2025 Brandon Bang</small>
    </p>
    <div class="mt-1 flex items-center space-x-1">
      <a class="inline-flex hover:underline" href="https://github.com/brandoncbang/brandonbang.com">
        <small>Source Code</small>
      </a>

      <span>&middot;</span>

      <a class="inline-flex hover:underline" href="https://github.com/brandoncbang/brandonbang.com/blob/master/LICENSE">
        <small>License</small>
      </a>
    </div>
  </div>
</footer>
