<header class="border-b border-lime-300 bg-lime-50 px-6 lg:px-10">
  <div class="mx-auto max-w-6xl py-6">
    <div class="flex items-center justify-between">
      <a class="font-display text-2xl font-medium tracking-tighter text-black/70" href="/">Brandon Bang</a>

      <div class="sm:hidden">
        <button type="button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-8 w-8"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <span class="sr-only">Menu</span>
        </button>
      </div>

      <nav class="hidden sm:flex sm:space-x-10">
        <a class="text-lg font-medium text-black/75 underline decoration-lime-500 decoration-2" href="/about">
          About
        </a>
        <a class="text-lg font-medium text-black/75 underline decoration-lime-500 decoration-2" href="/posts">
          Posts
        </a>
        <a class="text-lg font-medium text-black/75 underline decoration-lime-500 decoration-2" href="/uses"> Uses </a>
      </nav>
    </div>
  </div>
</header>
