<header class="border-b border-lime-300 bg-lime-50 px-4 sm:px-6 lg:px-10">
  <div class="mx-auto max-w-6xl py-6">
    <div class="flex items-center justify-between">
      <a class="text-3xl font-medium tracking-tighter text-black/80" href="/">Brandon Bang</a>

      <nav class="hidden space-x-10 sm:flex">
        <a class="text-lg font-medium text-black/80 underline decoration-lime-500 decoration-2" href="#"> About </a>
        <a class="text-lg font-medium text-black/80 underline decoration-lime-500 decoration-2" href="/posts">
          Posts
        </a>
        <a class="text-lg font-medium text-black/80 underline decoration-lime-500 decoration-2" href="#"> Uses </a>
      </nav>
    </div>
  </div>
</header>
