<header class="border-b border-lime-300 bg-lime-50 px-6 lg:px-10">
  <div class="mx-auto max-w-6xl py-6">
    <div class="flex items-center justify-between">
      <a class="font-display text-2xl font-medium tracking-tighter text-black/75" href="/">Brandon Bang</a>

      {% include 'mobile-nav' %}

      <nav class="hidden sm:flex sm:space-x-10">
        <a class="text-lg font-medium text-black/75 underline decoration-lime-500 decoration-2" href="/about">
          About
        </a>
        <a class="text-lg font-medium text-black/75 underline decoration-lime-500 decoration-2" href="/posts">
          Posts
        </a>
        <a class="text-lg font-medium text-black/75 underline decoration-lime-500 decoration-2" href="/uses"> Uses </a>
      </nav>
    </div>
  </div>
</header>
