<div
  x-data="{ clicked: false }"
  :class="{ 'animate-spin': clicked }"
  @click="clicked = !clicked"
>
  <svg
    class="h-12 w-12 text-lime-500"
    viewBox="0 0 32 32"
    xmlns="http://www.w3.org/2000/svg"
  >
    <ellipse
      cx="16" cy="16" rx="13.498" ry="13.498" fill="none" stroke="currentColor" stroke-width="1"
      style="paint-order:stroke markers fill"
    />
    <path
      d="m17.998 27.817c-1.3219.24409-2.678.2438-3.9998-.000871-1.2501-.23139-1.8121-1.6075-1.3247-2.7843l2.7511-6.6418c.2125-.51302.93917-.51302 1.1517 0l2.7493 6.6374c.48843 1.1792-.07477 2.5582-1.3276 2.7896zm7.7709-4.8736c-.76216 1.1074-1.7212 2.066-2.8289 2.8277-1.0476.72035-2.4181.14467-2.9055-1.0321l-2.7511-6.6418c-.2125-.51301.30134-1.0269.81435-.81435l6.6374 2.7493c1.1792.48843 1.7561 1.8618 1.0338 2.9113zm2.0487-8.9411c.24409 1.3219.2438 2.678-.000871 3.9998-.23139 1.2501-1.6075 1.8121-2.7843 1.3247l-6.6418-2.7511c-.51302-.2125-.51302-.93917 0-1.1517l6.6374-2.7493c1.1792-.48843 2.5582.07477 2.7896 1.3276zm-4.8736-7.7709c1.1074.76216 2.066 1.7212 2.8277 2.8289.72035 1.0476.14467 2.4181-1.0321 2.9055l-6.6418 2.7511c-.51301.2125-1.0269-.30134-.81435-.81435l2.7493-6.6374c.48843-1.1792 1.8618-1.7561 2.9113-1.0338zm-8.9411-2.0487c1.3219-.24409 2.678-.2438 3.9998.0008718 1.2501.23139 1.8121 1.6075 1.3247 2.7843l-2.7511 6.6418c-.2125.51302-.93917.51302-1.1517 0l-2.7493-6.6374c-.48843-1.1792.074772-2.5582 1.3276-2.7896zm-7.7709 4.8736c.76216-1.1074 1.7212-2.066 2.8289-2.8277 1.0476-.72035 2.4181-.14467 2.9055 1.0321l2.7511 6.6418c.2125.51301-.30134 1.0269-.81435.81435l-6.6374-2.7493c-1.1792-.48843-1.7561-1.8618-1.0338-2.9113zm-2.0487 8.9411c-.24409-1.3219-.2438-2.678.0008718-3.9998.23139-1.2501 1.6075-1.8121 2.7843-1.3247l6.6418 2.7511c.51302.2125.51302.93917 0 1.1517l-6.6374 2.7493c-1.1792.48843-2.5582-.074772-2.7896-1.3276zm4.8736 7.7709c-1.1074-.76216-2.066-1.7212-2.8277-2.8289-.72035-1.0476-.14467-2.4181 1.0321-2.9055l6.6418-2.7511c.51301-.2125 1.0269.30134.81435.81435l-2.7493 6.6374c-.48843 1.1792-1.8618 1.7561-2.9113 1.0338z"
      fill="currentColor" stroke-width="0" style="paint-order:stroke markers fill"
    />
  </svg>
</div>
