<div x-data="{ open: false }" class="sm:hidden">
  <div class="flex">
    <button type="button" @click="open = true">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-8 w-8 text-black/75"
        aria-hidden="true"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <span class="sr-only">Open menu</span>
    </button>
  </div>

  <div
    x-show="open"
    x-transition:enter="transition-transform ease-out duration-100"
    x-transition:enter-start="translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transition-transform ease-in duration-100"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="translate-x-full"
    x-trap.inert.noscroll="open"
    class="fixed inset-0 z-50 bg-white shadow-sm"
    style="display: none;"
    @keydown.esc.prevent.stop="open = false"
  >
    <div class="p-6 lg:px-10">
      <button
        class="ml-auto block"
        type="button"
        @click="open = false"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-8 w-8 text-slate-700"
          aria-hidden="true"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
        <span class="sr-only">Close menu</span>
      </button>

      <nav class="mt-12 flex flex-col items-end space-y-8">
        <a class="text-xl font-medium text-slate-700 underline decoration-lime-500 decoration-2" href="/">Home</a>

        {% for item in navItems %}
          <a
            class="text-xl font-medium text-slate-700 underline decoration-lime-500 decoration-2"
            href="{{ item.url }}"
          >
            {{ item.name }}
          </a>
        {% endfor %}
      </nav>
    </div>
  </div>
</div>
