---
layout: layouts/main
---
<section class="px-6 lg:px-10">
  <div class="mx-auto max-w-2xl pb-32 pt-24">
    <div class="flex flex-col space-y-8">
      <time class="text-slate-600" datetime="{{ date }}">
        {{- date | date: '%B %e, %Y' -}}
      </time>

      <h1 class="text-5xl font-semibold tracking-tight text-slate-900">{{ title }}</h1>

      <div class="prose prose-lg prose-slate max-w-none prose-a:decoration-lime-500 prose-a:decoration-2">
        {{ content }}
      </div>
    </div>
  </div>
</section>
