---
layout: layouts/main
---
<section class="px-6 lg:px-10">
  <div class="mx-auto max-w-2xl py-16 lg:py-24">
    <div class="flex flex-col">
      <time class="text-slate-500" datetime="{{ date }}">
        {{- date | date: '%B %e, %Y' -}}
      </time>

      <h1 class="mt-4 text-4xl font-semibold tracking-tight text-slate-900 md:text-4xl">{{ title }}</h1>

      <div
        class="prose prose-lg prose-slate mt-8 max-w-none prose-h2:font-semibold prose-a:decoration-lime-500 prose-a:decoration-2"
      >
        {{ content }}
      </div>
    </div>
  </div>
</section>
