@import './variables.css';
@import './base.css';


.header-top {
    width: 100%;
    padding: 20px 0;
    /*background: var(--color-primary);*/
    /*box-shadow: var(--shadow-small);*/
    position: relative;
    z-index: 5;
}

.header-top a {
    color: var(--color-text-menu);
    text-decoration: none;
}

.header-wrapper {
    max-width: var(--size-max-page);
    margin: auto;
    padding: 0 2%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.brand h1 {
    font-family: var(--font-brand);
    font-size: 42px;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-nav .menu-icon {
    visibility: hidden;
    width: 50px;
    height: 50px;
    background: url('/images/icons/menu-line.svg') center no-repeat;
    background-size: 31px;
}

.main-nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.main-nav ul li:not(:first-child) {
    margin-left: 30px;
}

main {
    max-width: var(--size-max-page);
    margin: auto;
}

.hero {
    /*background: var(--color-section-background);*/
    text-align: center;
}

.hero h2 {
    font-size: 42px;
}

.hero p {
    max-width: 70%;
    margin: 30px auto;
}

.hero-icon {
    margin: 60px auto;
    width: 100px;
}

.hero .button {
    margin-top: 60px;
}

.button {
    display: block;
    max-width: max-content;
    margin: auto;
    padding: 15px 30px;
    border: 2px solid var(--color-splash);
    border-radius: var(--corner-medium);
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 20px;
    cursor: pointer;
    /*box-shadow: var(--shadow-small);*/
    background: var(--color-splash);
    color: #fff;
}

.button:hover {
    background: #fff;
    color: var(--color-link);
}

.icon-bio {
    display: flex;
    align-items: center;
}

.icon-bio img {
    height: 150px;
    margin-right: 40px;
    border-radius: 50%;
}

.row {
    display: flex;
    justify-content: center;
    padding: var(--size-gap-m);
}

.row > div {
    margin: 0 var(--size-gap-m);
    flex: 1;
}

.skills-card {
    background: #fff;
    padding: 30px 30px;
    border-radius: var(--corner-medium);
    /*box-shadow: var(--shadow-small);*/
}

.skills-card ul {
    list-style-image: url('/images/icons/checkbox-circle-fill.svg');
    list-style-position: outside;
}

.skills-card li:not(:first-child) {
    margin-top: 16px;
}

#experience p {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li {
    width: 100%;
    margin-bottom: 1rem;
}

form label {
    font-weight: 600;
    width: 100%;
    display: inline-block;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: var(--corner-medium);
    font-family: var(--font-main);
    font-size: 16px;
    color: var(--color-paragraph);
    box-shadow: none;
}

form textarea {
    resize: vertical;
}

form input:focus, form textarea:focus {
    border-color: #777;
}

form input.required:invalid, form textarea.required:invalid {
    border-color: var(--color-invalid);
}

form button.button {
    padding: 10px 20px;
}

footer {
    width: 100%;
    padding: 10px 0;
    background: var(--color-dark);
    color: var(--color-text-light);
}

footer p {
    color: inherit;
}

footer a {
    text-decoration: none;
    /*color: var(--color-splash);*/
    color: #eee;
}

footer ul {
    list-style: none;
    display: flex;
    max-width: max-content;
    margin-left: auto;
}

footer ul li:not(:first-child) {
    margin-left: 20px;
}

.footer-wrapper {
    max-width: var(--size-max-page);
    margin: auto;
    padding: 0 2%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper div, nav {
    flex: 1;
}

.message-success {
    background-color: var(--color-splash);
    padding: 20px 40px;
    margin-bottom: 30px;
    font-size: 20px;
}

.message-success p {
    color: #fff;
}

@media (max-width: 980px) {
    .main-nav .menu-icon {
        visibility: visible;
        /*position: fixed;*/
    }

    .main-nav ul {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        top: 64px;
        width: 50%;
        height: max-content;
        background: #fff;
        padding: 20px;
    }

    .main-nav ul.visible {
        display: flex;
    }

    .main-nav ul li:not(:first-child) {
        margin-left: 0;
        margin-top: 10px;
    }

    .main-nav ul a {
        display: inline-block;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    .main-nav ul a:hover {
        background: #dfdfdf;
    }

    section {
        padding: 40px 20px;
    }

    .hero p {
        max-width: 90%;
    }

    .icon-bio img {
        height: 100px;
        width: 100px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .icon-bio, .row {
        flex-direction: column;
    }
    
    .row > div {
        margin: 0;
    }

    .row > div:not(:first-child) {
        margin-top: 30px;
    }

    footer ul {
        flex-direction: column;
    }

    footer ul li:not(:first-child) {
        margin-left: 0;
    }
}

@media (max-width: 380px) {
    .brand h1 {
        font-size: 30px;
    }

    .hero h2 {
        font-size: 35px;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}