@use 'sass:map';


$palette: (
    'red': (
        1: hsl(2, 63%, 9%),
        2: hsl(2, 61%, 22%),
        3: hsl(2, 61%, 34%),
        4: hsl(2, 55%, 56%),
        5: hsl(2, 53%, 67%)
    ),
    'green': (
        1: hsl(120, 63%, 9%),
        2: hsl(120, 61%, 22%),
        3: hsl(120, 61%, 34%),
        4: hsl(120, 55%, 56%),
        5: hsl(120, 53%, 67%)
    ),
    'blue': (
        1: hsl(200, 63%, 9%),
        2: hsl(200, 61%, 22%),
        3: hsl(200, 61%, 34%),
        4: hsl(200, 55%, 56%),
        5: hsl(200, 53%, 67%)
    )
);

@function color($color, $tone) {
    
    @if map.has-key($palette, $color) {
        $color: map.get($palette, $color);

        @if map.has-key($color, $tone) {
            $tone: map.get($color, $tone);
            @return $tone;
        }

        @warn 'Unknown tone `#{$tone}` in color `#{$color}`.';
        @return null;
    }

    @warn 'Unknown color `#{$color}` in palette.';
    @return null;

}