@use 'colors';

$hard-sm-dark: 2px 2px colors.$lightBlue-900;
$hard-md-dark: 4px 4px colors.$lightBlue-900;
$hard-lg-dark: 6px 6px colors.$lightBlue-900;

$hard-sm-light: 2px 2px colors.$blue-600;
$hard-md-light: 4px 4px colors.$blue-600;
$hard-lg-light: 6px 6px colors.$blue-600;