@use '../modules/screens';
@use '../modules/colors';
@use '../modules/spacing';
@use '../modules/fonts';
@use '../modules/shadows';

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: spacing.$size-04 spacing.$size-08;
    background-color: colors.$blueGray-900;
}

.nav-logo {
    padding: 0;
    margin: 0;
    
    > a {
        display: block;
        padding: spacing.$size-03 spacing.$size-03;
        color: colors.$white;
        @include fonts.size-3xl;
        font-weight: 500;
        text-decoration: none;
        text-shadow: shadows.$hard-sm-light;
    }
}

// Main navigation menu
.main-nav--list {
    display: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    @include screens.break-sm {
        display: flex;
    }
}

.main-nav--item {
    &:not(:last-child) {
        margin-right: spacing.$size-06;
    }

    > a {
        padding: spacing.$size-03 spacing.$size-03;
        color: colors.$blueGray-300;
        @include fonts.size-xl;
        text-decoration: none;

        &:hover {
            color: colors.$blueGray-100;
        }
    }
}

// Mobile navigation menu
.mobile-nav {
    transform: translate(120%, 0);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: spacing.$size-40;
    background-color: colors.$blueGray-900;
    transition: transform 0.3s ease-out;

    @include screens.break-sm {
        display: none;
    }
}

.mobile-nav--show {
    transform: translate(0, 0);
}

.mobile-nav--button {
    padding: 8px;
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 0;
    cursor: pointer;
    fill: colors.$blueGray-300;

    &:hover {
        fill: colors.$blueGray-100;
    }

    @include screens.break-sm {
        display: none;
    }
}

.mobile-nav--button--close {
    position: fixed;
    top: spacing.$size-04;
    right: spacing.$size-06;
}

.mobile-nav--list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;

    @include screens.break-sm {
        flex-direction: row;
    }
}

.mobile-nav--item {
    &:not(:last-child) {
        margin-bottom: spacing.$size-10;
    }

    > a {
        padding: spacing.$size-03 spacing.$size-03;
        color: colors.$blueGray-300;
        @include fonts.size-2xl;
        text-decoration: none;

        &:hover {
            color: colors.$blueGray-100;
        }
    }

    @include screens.break-sm {
        &:not(:last-child) {
            margin-bottom: 0;
            margin-right: spacing.$size-06;
        }
    }
}