---
layout: layouts/main
---

<section class="px-6 lg:px-10">
    <div class="mx-auto max-w-6xl pb-32 pt-24">
        <h1 class="text-4xl font-semibold tracking-tight text-slate-900">All Posts</h1>

        <ul class="mt-12 space-y-8">
            <li>
                <h3 class="text-xl">
                    <a class="font-medium text-slate-900 underline decoration-lime-500 decoration-2" href="#">5 Reasons Why You Should Try Modern PHP</a>
                </h3>
            </li>
            <li>
                <h3 class="text-xl">
                    <a class="font-medium text-slate-900 underline decoration-lime-500 decoration-2" href="#">My Thoughts On Rust</a>
                </h3>
            </li>
            <li>
                <h3 class="text-xl">
                    <a class="font-medium text-slate-900 underline decoration-lime-500 decoration-2" href="#">I Rewrote My Website!</a>
                </h3>
            </li>
        </ul>
    </div>
</section>
