---
layout: layouts/main
title: Not found
permalink: 404.html
---
<section class="min-h-full px-6 lg:px-10">
  <div class="flex min-h-full flex-col items-center justify-center py-24">
    <h1 class="text-6xl font-semibold tracking-tight text-slate-900">404</h1>
    <p class="mt-4 text-xl text-slate-700">Page not found</p>

    <a
      class="mt-16 inline-block border border-lime-400 bg-lime-50 px-9 py-3 font-medium text-lime-900"
      href="/"
    >
      Back to home &rarr;
    </a>
  </div>
</section>
