---
layout: layouts/main
title: Not found
---
<section class="px-6 lg:px-10">
  <div class="flex flex-col items-center justify-center py-32">
    <h1 class="text-4xl font-semibold tracking-tight text-slate-900">404 - Not found</h1>

    <a
      class="mt-12 inline-block border border-lime-400 bg-lime-25 px-9 py-3 font-medium text-lime-900"
      href="/"
    >
      Return home &rarr;
    </a>
  </div>
</section>
