---
layout: layouts/main
---
<section class="-mt-[2px] border-b-2 border-lime-200 bg-lime-50 px-6 lg:px-10">
  <div
    class="
      mx-auto flex max-w-6xl flex-col items-start justify-start pb-16 pt-12
      lg:flex-row lg:pb-24 lg:pt-32
    "
  >
    <img
      class="h-48 w-48 flex-shrink-0 overflow-hidden rounded-full bg-lime-800/30 ring-2 ring-lime-600/20 lg:h-60 lg:w-60"
      src="/img/portrait.jpg"
      alt="A picture of my face"
    >

    <div class="mt-8 space-y-10 lg:ml-16 lg:mt-0">
      <div class="lg:pt-10">
        <h1 class="text-5xl font-bold tracking-tight text-black/90">I build things with code.</h1>
        <p class="mt-6 max-w-2xl text-lg leading-relaxed text-black/75">
          I love to solve problems with different approaches and technologies. Laravel, Vue.js, and Tailwind CSS are my
          favorite tools for building amazing full stack web applications.
        </p>
      </div>

      {% include 'social-links', lime: true %}

      <div class="flex items-center space-x-1.5 text-lime-700">
        <svg
          class="h-4 w-4"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M12 20.8995L16.9497 15.9497C19.6834 13.2161 19.6834 8.78392 16.9497 6.05025C14.2161 3.31658 9.78392 3.31658 7.05025 6.05025C4.31658 8.78392 4.31658 13.2161 7.05025 15.9497L12 20.8995ZM12 23.7279L5.63604 17.364C2.12132 13.8492 2.12132 8.15076 5.63604 4.63604C9.15076 1.12132 14.8492 1.12132 18.364 4.63604C21.8787 8.15076 21.8787 13.8492 18.364 17.364L12 23.7279ZM12 13C13.1046 13 14 12.1046 14 11C14 9.89543 13.1046 9 12 9C10.8954 9 10 9.89543 10 11C10 12.1046 10.8954 13 12 13ZM12 15C9.79086 15 8 13.2091 8 11C8 8.79086 9.79086 7 12 7C14.2091 7 16 8.79086 16 11C16 13.2091 14.2091 15 12 15Z"
          ></path>
        </svg>
        <span class="text-sm font-semibold">Naples, FL, USA</span>
      </div>
    </div>
  </div>
</section>

<section class="px-6 lg:px-10">
  <div class="mx-auto max-w-6xl py-16 lg:py-24">
    <h2 class="text-2xl font-semibold tracking-tight text-slate-900">Recent Posts</h2>

    <ul class="mt-6 space-y-4">
      {% assign posts = collections.posts | reverse | head: 3 %}
      {% for post in posts %}
        <li>
          <h3 class="text-lg">
            <a
              class="font-medium tracking-tight text-slate-800 underline decoration-lime-500 decoration-2"
              href="{{ post.url }}"
            >
              {{ post.data.title }}
            </a>
          </h3>
        </li>
      {% endfor %}
    </ul>

    <a
      class="mt-12 inline-flex items-center border-2 border-lime-400 bg-lime-50 px-9 py-3 font-medium text-lime-900"
      href="/posts"
    >
      <span>More</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="-mr-0.5 ml-1 h-5 w-5"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M3 10a.75.75 0 0 1 .75-.75h10.638L10.23 5.29a.75.75 0 1 1 1.04-1.08l5.5 5.25a.75.75 0 0 1 0 1.08l-5.5 5.25a.75.75 0 1 1-1.04-1.08l4.158-3.96H3.75A.75.75 0 0 1 3 10Z"
          clip-rule="evenodd"
        />
      </svg>
    </a>
  </div>
</section>
