---
layout: layouts/main
title: All Posts
---
<section class="px-6 lg:px-10">
  <div class="mx-auto max-w-6xl py-16 lg:py-24">
    <h1 class="max-w-xl text-4xl font-semibold tracking-tight text-slate-900">Posts</h1>
    <p class="mt-4 text-lg text-slate-700">I write about software development, and sometimes other stuff.</p>

    <div class="mt-16 space-y-8">
      {% assign posts = collections.posts | reverse %}
      {% for post in posts %}
        <article class="relative flex max-w-xl flex-col items-start">
          <h2 class="mt-4 text-2xl font-semibold tracking-tight text-slate-800">
            <a href="{{ post.url }}">
              <span class="absolute inset-0"></span>
              {{ post.data.title }}
            </a>
          </h2>

          {% if post.data.excerpt %}
            <p class="mt-4 text-lg text-slate-700">
              {{ post.data.excerpt }}
            </p>
          {% endif %}

          <a
            class="mt-4 block font-semibold text-slate-800 underline decoration-lime-500 decoration-2"
            href="{{ post.url }}"
          >
            Read post &rarr;
          </a>
        </article>
      {% endfor %}
    </div>
  </div>
</section>
