---
layout: layouts/secret
title: ???
---
<div class="flex flex-1 items-center justify-center bg-white px-6 lg:px-10">
  <div class="py-12">
    <h1 class="text-center text-3xl font-light tracking-tight text-white lg:text-5xl">404 | Secret not found</h1>
  </div>
</div>
