---
layout: layouts/secret
title: I use Arch BTW
---
<div class="flex flex-1 items-center justify-center bg-[#0088cc] px-6 lg:px-10">
  <div class="py-12">
    <h1 class="text-center text-3xl font-bold tracking-tight text-white lg:text-9xl">
      I use <a class="underline" href="https://archlinux.org/">Arch</a> BTW
    </h1>
  </div>
</div>
