---
layout: layouts/secret
title: Edit
---
<div class="flex-1 px-6 lg:px-10">
  <div data-edit class="mx-auto max-w-lg py-12">
    <textarea
      class="block w-full resize-y border px-3 py-1.5 focus:border-indigo-600 focus:outline-none focus:ring"
      rows="10"
      aria-label="content"
      data-ref="input"
    ></textarea>

    <input
      class="mt-3 block w-full overflow-x-scroll break-all font-mono focus:outline-none"
      type="text"
      readonly
      aria-label="share link"
      data-ref="output"
    >
  </div>
</div>

<script>
  function setUpEdit(root) {
    const input = root.querySelector('[data-ref="input"]');
    const output = root.querySelector('[data-ref="output"]');

    function updateOutput() {
      output.value = `data:text/plain;base64,${btoa(input.value)}`;
    }

    input.addEventListener('input', (e) => {
      updateOutput();
    });

    output.addEventListener('click', (e) => {
      output.setSelectionRange(0, output.value.length);
    });

    updateOutput();
  }

  setUpEdit(document.querySelector('[data-edit]'));
</script>
